<style id="jsbin-css">
    ul{
        list-style: none;
    }
    .text-field{
        cursor: pointer;
    }
    .check-box{
        width: 24px;
        height: 18px;
        border-radius: 8px;
    }
</style>


<div ng-controller="dataGroupTableController as demo"  class="container" style="width: 80%;margin-left: 100px">

    <div class="row">
        <h3>数据权限</h3>
        <input type="hidden"   type="text" ng-model="deleteUrl_1" >
        <input type="hidden"   type="text" ng-model="addUrl_1" >
        <input type="hidden"   type="text" ng-model="param_1" >
        <tree-view2 tree-data="demo.tree" text-field="name" value-field='id'  delete-url="{{deleteUrl_1}}" add-url="{{addUrl_1}}"  param-one="{{param_1}}"
                   item-clicked="demo.itemClicked($item)" item-checked-changed="demo.itemCheckedChanged($item)" can-checked="true" >
        </tree-view2>
    </div>

    <script type="text/ng-template" id="treeView.html">
        <input type="hidden"   type="text" ng-model="deleteUrl" >
        <input type="hidden"   type="text" ng-model="addUrl" >
        <input type="hidden"   type="text" ng-model="paramOne" >
        <input type="button" value="展开" style="margin-right:10px;margin-bottom: 20px;" class="btn btn-info btn-lg btn-sm" ng-click="expandAll(treeData);" />
        <input type="button" value="收起" style="margin-right:10px;margin-bottom: 20px;" class="btn btn-info btn-lg btn-sm" ng-click="collapseAll(treeData);" />
        <ul class="tree-view">
            <input  type="hidden" type="text" ng-model="id_2" >
            <li ng-repeat="item in treeData" ng-include="itemTemplateUrl || 'treeItem.html'" ></li>
        </ul>
    </script>
    <script type="text/ng-template" id="treeItem.html">
        <i ng-click="itemExpended(item, $event);" class="{{getItemIcon(item)}}"></i>

        <input id="{{item.id}},{{item.pid}}"  type="checkbox" ng-model="item.isChecked" class="check-box" ng-if="canChecked" ng-change="itemChange(item,treeData)">

        <span class='text-field' ng-click="warpCallback('itemClicked', item, $event);" >{{item[textField]}}</span>
        <ul ng-if="!isLeaf(item)"
            ng-show="item.$$isExpend"
            style="color: #06b6ef">
            <li ng-repeat="item in item.submenu" ng-include="itemTemplateUrl || 'treeItem.html'">
            </li>
        </ul>
    </script>
</div>