<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.iris.sugondata.mybaties.mapper.db1.JM_t_model_local_tablecolumnsMapper" >

    <resultMap id="BaseResultMap" type="com.sugon.iris.sugondata.mybaties.mapper.db1.JM_t_model_local_tablecolumnsMapper" >
        <result column="modelId" property="modelId" jdbcType="INTEGER" />
        <result column="modelName" property="modelName" jdbcType="VARCHAR" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="modelType" property="modelType" jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectModelList" resultMap="BaseResultMap"  >
        SELECT
        a.ID modelId ,
        a.MODEL_NAME modelName,
       (select b.username creator from t_system_user b where a.CREATE_USER = b.ID),
       (select max(c.SHARE_TYPE) modelType from t_model_manager_share c where c.MODEL_ID= a.id)
        FROM  t_model_manager a
        WHERE
        1=1
        <if test="id!=null and id!=''">
            and a.id = #{id}
        </if >
    </select>

</mapper>