<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.iris.sugondata.mybaties.mapper.db1.JM_t_model_local_tableMapper" >

    <resultMap id="BaseResultMap" type="com.sugon.iris.sugondomain.entities.mybatiesEntity.db1.JM_t_model_local_tableEntity" >
        <result column="ID" property="id" jdbcType="INTEGER" />
        <result column="TABLENAME" property="tableName" jdbcType="VARCHAR" />
        <result column="FILENAME" property="fileName" jdbcType="VARCHAR" />
        <result column="IMPORTSTATUS" property="importStatus" jdbcType="INTEGER" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="AREA_TYPE" property="areaType" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
         `ID`,
         `TABLENAME`,
         `FILENAME`,
         `IMPORTSTATUS`,
         `CREATE_TIME`,
         `UPDATE_TIME`,
         `AREA_TYPE`,
         `user_id`,
         `EXTEND1`,
         `EXTEND2`
    </sql>


    <select id="queryAllModelLocalTableByUserId" resultMap="BaseResultMap"  >
        select
        <include refid="Base_Column_List" />
        from
        t_model_local_table
        where
        user_id = #{userId}
        and
        AREA_TYPE = #{areaType}
    </select>

    <!--批量插入-->
    <insert id="batchTModelLocalTableInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into t_model_local_table
        (<include refid="Base_Column_List" />)
        values
        <foreach collection="jM_t_model_local_tableEntityList" item="item" index="i" separator=",">
            (
            #{item.id},
            #{item.tableName},
            #{item.fileName},
            #{item.importStatus},
            #{item.createTime},
            #{item.updateTime},
            #{item.areaType},
            #{item.userId},
            #{item.extend1},
            #{item.extend2}
            )
        </foreach>
    </insert>


    <!--批量删除-->
    <delete id="deleteTModelLocalTableByIds">
        DELETE
        FROM
        t_model_local_table
        <where>
            ID in (
            <foreach collection="ids" item="item" index="i" separator=",">
                #{item}
            </foreach>
            )
        </where>
    </delete>
    
</mapper>