<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.iris.sugondata.mybaties.mapper.db1.ModelManagerShareMapper" >

    <resultMap id="BaseResultMap" type="com.sugon.iris.sugondomain.entities.mybatiesEntity.db1.JmUserEntity" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="policeNo" property="policeNo" jdbcType="VARCHAR" />
    </resultMap>


    <select id="findPublicUserList" resultMap="BaseResultMap"  >
        SELECT
        b.id,b.USERNAME policeNo
        FROM
        t_model_manager_share a,t_system_user b
        WHERE
        1=1
        <if test="modelId!=null and modelId!=''">
            and a.MODEL_ID = #{modelId}
        </if >
        and a.SHARE_TO=b.ID
    </select>

    <select id="findCreateUser" resultMap="BaseResultMap"  >
        SELECT b.ID,b.USERNAME policeNo
        FROM t_model_manager a,t_system_user b
        WHERE b.USERNAME is not null
        <if test="modelId!=null and modelId!=''">
        AND a.id = #{modelId}
        </if>
        AND a.CREATE_USER=b.ID
    </select>

    <select id="findPrivateUser" resultMap="BaseResultMap"  >
        select d.id,
        d.USERNAME policeNo
        from
        (select distinct CREATE_USER CREATE_USER
         from t_model_manager_share
         where  1=1
               and share_type=0
               <if test="modelId!=null and modelId!=''">
                    and MODEL_ID = #{modelId}
               </if>
        ) c,t_system_user d
        where
        d.id is not null
        and d.USERNAME is not null
        and c.CREATE_USER =d.ID
    </select>
</mapper>