<style type="text/css">
    .panel{
        border-left:1px solid #0007;
        border-right:1px solid #0007;
    }
</style>
<div  class="panel panel-primary" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
    <div class="topnavbar" style="height: 50px;">
        <div align="left">
            <label  style="margin-left:10px;margin-top:10px;" ><strong style="color: #FFF">页面注册</strong></label>
        </div>
    </div>
                    <!-- 包含左右两个部分 -->
                    <div ng-controller="pageRegisterController" class="form-inline">
                        <!--左半部分-->
                        <div style="width: 49%;height: 100%;margin-left:5px;margin-top: 10px;" class="input-group panel">
                            <div style="margin-bottom: 50px">
                                <div class="col-sm-8">
                                    <div class="input-group mb">
                                        <span class="input-group-addon">是否是一级节点</span>
                                        <!-- this uses fixed width to avoid expand outside the group container-->
                                        <select  ng-model="selectedOptions_01" width="'150px'" >
                                            <option  value="" >---请选择---</option>
                                            <option ng-repeat="site in sites1" value="{{site.value}}">{{site.dicShow}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--设置导航菜单-->
                            <div ng-show="selectedOptions_01 == 1"  id="panel_01" class="panel panel-info" >
                                <div class="panel-heading portlet-handler topnavbar">导航菜单设置（一级）
                                    <div id="button1"  style="float:right;padding-right:4px;z-index: 99999">
                                        <input type="button" value="保存" style="margin-right:10px;margin-top: -5px" class="btn btn-default btn-lg btn-sm" ng-click="addOne();" >
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">名称</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="oneName" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">提示</span>
                                            <input  placeholder="" class="form-control" type="text" ng-model="oneText" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">显示设置</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="oneTranslate" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">排序编号</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="oneSort" ng-change="headSortCheck(oneSort)" >
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--设置主菜单节点-->
                            <div style="margin-top: 30px">
                                <div class="col-sm-8">
                                    <div class="input-group mb">
                                        <span class="input-group-addon">选择一级节点</span>
                                        <!-- this uses fixed width to avoid expand outside the group container-->
                                        <select  ng-model="selectedOptions_02" width="'150px'" ng-change="options02Changed()" >
                                            <option  value="" >---请选择---</option>
                                            <option ng-repeat="site in sites2" value="{{site.id}}">{{site.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <span>是否新增</span>
                                   <input type="checkbox" ng-model="two_checked" ng-change="selectOne(two_checked)" />
                                </div>
                            </div>
                            <div ng-show="selectedOptions_02 && two_checked" id="panel_02" class="panel panel-info" style="margin-top: 50px">
                                <div class="panel-heading portlet-handler topnavbar">
                                    <span>菜单主节点设置（二级）</span>
                                    <div id="button2"  style="float:right;padding-right:4px;z-index: 99999">
                                        <input type="button" value="保存" style="margin-right:10px;margin-top: -5px" class="btn btn-default btn-lg btn-sm" ng-click="addTwo();" >
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">名称</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="two_name" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">鼠标放置显示</span>
                                            <input  placeholder="" class="form-control" type="text" ng-model="two_text" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">路由</span>
                                            <input  placeholder="必填,没有请填#号" class="form-control" type="text" ng-model="two_sref" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">图标</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="two_icon" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">翻译</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="two_translate" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">提示标签</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="two_alert" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">标签颜色</span>
                                            <input  placeholder="" class="form-control" type="text" ng-model="two_label" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">排序字段</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="two_sort" ng-change="twoSortCheck(two_sort)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---->


                            <!--设置菜单节点-->
                            <div style="margin-top: 30px">
                                <div class="col-sm-8">
                                    <div class="input-group mb">
                                        <span class="input-group-addon">选择二级节点</span>
                                        <!-- this uses fixed width to avoid expand outside the group container-->
                                        <select  ng-model="selectedOptions_03" width="'150px'" >
                                            <option  value="" >---请选择---</option>
                                            <option ng-repeat="site in sites3" value="{{site.id}}">{{site.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <span>是否新增</span>
                                    <input type="checkbox" ng-model="three_checked" ng-change="selectOne(three_checked)" />
                                </div>
                            </div>
                            <div ng-show="selectedOptions_03 && three_checked" id="panel_03" class="panel panel-info" style="margin-top: 50px">
                                <div class="panel-heading portlet-handler topnavbar">菜单主节点设置（三级）
                                    <div id="button3"  style="float:right;padding-right:4px;z-index: 99999">
                                        <input type="button" value="保存" style="margin-right:10px;margin-top: -5px" class="btn btn-default btn-lg btn-sm" ng-click="addThree();" >
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">名称</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="three_name" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">鼠标放置显示</span>
                                            <input  placeholder="" class="form-control" type="text" ng-model="three_text" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">路由</span>
                                            <input  placeholder="必填,没有请填#号" class="form-control" type="text" ng-model="three_sref" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">图标</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="three_icon" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">翻译</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="three_translate" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">提示标签</span>
                                            <input  placeholder="" class="form-control" type="text" ng-model="three_alert" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">标签颜色</span>
                                            <input  placeholder="" class="form-control" type="text" ng-model="three_label" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">排序字段</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="three_sort" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---->

                            <!--设置菜单叶子-->
                            <div style="margin-top: 30px">
                                <div class="col-sm-8">
                                    <div class="input-group mb">
                                        <span class="input-group-addon">选择菜单节点</span>
                                        <!-- this uses fixed width to avoid expand outside the group container-->
                                        <select  ng-model="selectedOptions_04" width="'150px'" >
                                            <option  value="" >---请选择---</option>
                                            <option ng-repeat="site in sites1" value="{{site.value}}">{{site.dicShow}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <span>是否新增</span>
                                    <input type="checkbox" ng-model="four_checked" ng-change="selectOne(four_checked)" />
                                </div>
                            </div>
                            <div ng-show="selectedOptions_04  && four_checked" id="panel_04" class="panel panel-info" style="margin-top: 50px">
                                <div class="panel-heading portlet-handler topnavbar">菜单主节点设置（四级）
                                    <div id="button4"  style="float:right;padding-right:4px;z-index: 99999">
                                        <input type="button" value="保存" style="margin-right:10px;margin-top: -5px" class="btn btn-default btn-lg btn-sm" ng-click="addFour();" >
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">鼠标放置显示</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="four_text" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">路由</span>
                                            <input  placeholder="必填,没有请填#号" class="form-control" type="text" ng-model="four_sref" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">图标</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="four_icon" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">翻译</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="four_translate" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">提示标签</span>
                                            <input  placeholder="" class="form-control" type="text" ng-model="four_alert" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">标签颜色</span>
                                            <input  placeholder="" class="form-control" type="text" ng-model="four_label" >
                                        </div>
                                    </div>
                                    <div>
                                        <div  class="input-group mb" style="width: 90%;margin-left: 0px">
                                            <span  class="input-group-addon">排序字段</span>
                                            <input  placeholder="必填" class="form-control" type="text" ng-model="four_sort" >
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--右半部分-->
                        <div style="width: 49%;height: 100%;" class="input-group panel">



                        </div>
                    </div>
</div>