<!-- Inline template with sidebar items markup and ng-directives-->
<style>
   .Qpanel-content > .nav > li.active {
      border-left: none !important;
      color: #515253 !important;
   }
   .Qpanel-content > .nav > li.active li.active{
      background-color:#04102E!important;
   }
   .Qpanel-content > .nav > li.active, .Qpanel-content > .nav > li.open, .Qpanel-content > .nav > li.active > a, .Qpanel-content > .nav > li.open > a, .Qpanel-content > .nav > li.active .nav, .Qpanel-content > .nav > li.open .nav{
      background-color: transparent!important;
   }
</style>
<script type="text/ng-template" id="sidebar-renderer.html">
   <span  ng-if="item.heading">{{(item.translate | translate) || item.text}}</span>
   <!--<a ng-if="!item.heading" ng-href="{{$state.href(item.sref, item.params)}}" title="{{item.text}}">-->
      <a ng-if="!item.heading" title="{{item.text}}">
      <em ng-if="item.icon" class="{{item.icon}}"></em>
      <div ng-if="item.alert" ng-class="item.label || 'label label-success'" class="pull-right">{{item.alert}}</div>
      <span>{{(item.translate | translate) || item.text}}</span>
   </a>
   <ul ng-if="item.submenu" collapse="isCollapse(pIndex)" ng-init="addCollapse(pIndex, item)" class="nav sidebar-subnav">
      <li class="sidebar-subnav-header">{{(item.translate | translate) || item.text}}</li>
      <li ng-repeat="item in item.submenu" ng-include="'sidebar-renderer.html'" ng-class="getMenuItemPropClasses(item)" ng-init="pIndex=(pIndex+'-'+$index); inSubmenu = true" ng-click="toggleCollapse(pIndex);updateOrDelete3(item)"></li>
   </ul>
</script>
<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav sidebar="" sidebar-anyclick-close="" class="sidebar Qpanel-content" style="background-color:rgba(5,27,85,.2)">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
         <li ng-class="getMenuItemPropClasses(item)" ng-repeat="item in menuItems" ng-init="pIndex = $index" ng-include="'sidebar-renderer.html'" ng-click="toggleCollapse(pIndex, true);updateOrDelete2(item)"></li>
      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->