<style type="text/css">
    .panel{
        border-left:1px solid #ccc;
        border-right:1px solid #ccc
    }
</style>

<div ng-controller="declarationController">
    <div class="topnavbar" style="height: 50px;">
        <div align="left">
            <label  style="margin-left:10px;margin-top:10px;" ><strong style="color: #FFF">审核情况</strong></label>
        </div>
        <div align="right" style="margin-top:-30px;">
        </div>
    </div>

    <div  class="table-grid table-grid-desktop" style="margin-top:30px;">
        <div class="">
            <div class="pr col-md-3">
                <!-- START mailbox list-->
                <div collapse="mailboxMenuCollapsed" class="mb-boxes">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="p">
                                    <strong><small  class="text-muted">申报中心</small></strong>
                                </li>
                                <li ui-sref-active="active" ng-repeat="item in obj">
                                    <a ui-sref="app.declaration.declar({status:item.status,declarName:item.declarName})">
                                        <span class="label label-green pull-right">{{item.amount}}</span>
                                        <em ng-class="fold.icon" class="fa fa-group"></em>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>{{item.declarName}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- END mailbox list-->
            </div>
            <div ui-view="" class="col"></div>
        </div>
    </div>
</div>