<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.iris.sugondata.mybaties.mapper.db2.DeclarMapper" >

    <!--结果集-->
    <resultMap id="DeclarInfoResultMap" type="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.DeclarInfoBeanEntity" >
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="INTEGER" />
        <result column="declarName" property="declarName" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="DeclarationResultMap" type="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.DeclarationDetailEntity" >
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="detail" property="detail" jdbcType="VARCHAR" />
        <result column="owner_user_id" property="ownerUserId" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="check_user_id" property="checkUserId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="business_id" property="businessId" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Declaration_Column_List" >
        id,type,detail,owner_user_id,status,check_user_id,create_time,business_id
    </sql>

    <select id="getDeclarInfoByUserId"  resultMap="DeclarInfoResultMap" >
        select '0' as status,count(*) as amount from declaration
        where status = '0'
            and owner_user_id = #{userId}
        union
        select '1' as status,count(*) as amount from declaration
        where status = '1'
            and owner_user_id = #{userId}
        union
        select '2' as status,count(*) as amount from declaration
        where status = '2'
            and owner_user_id = #{userId}
    </select>

    <!--表查询-->
    <select id="findDeclarationDetail"  resultMap="DeclarationResultMap" >
        SELECT
        <include refid="Declaration_Column_List" />
        FROM
        declaration
        where
        1=1
        <if test="id!=null">
            and id = #{id}
        </if >
        <if test="type!=null and type != ''">
            and type = #{type}
        </if >
        <if test="type!=null and type != ''">
            and type = #{type}
        </if >
        <if test="ownerUserId!=null">
            and owner_user_id = #{ownerUserId}
        </if >
        <if test="status!=null and status != ''">
            and status = #{status}
        </if >
        <if test="checkUserId!=null">
            and check_user_id = #{checkUserId}
        </if >
        <if test="businessId!=null">
            and business_id = #{businessId}
        </if >
        order by id desc
    </select>

    <!--表查询-->
    <select id="findDeclarationDetail4Check"  resultMap="DeclarationResultMap" >
        SELECT
         a.id,
         a.type,
         a.detail,
         a.owner_user_id,
         a.status,
         a.check_user_id,
         a.create_time,
         a.business_id,
        (select b.username from sys_user b where b.id = a.owner_user_id) as ownerUserName,
        (select b.username from sys_user b where b.id = a.check_user_id) as checkUserName
        FROM
        declaration a
        where
        1=1
        <if test="id!=null">
            and a.id = #{id}
        </if >
        <if test="type!=null and type != ''">
            and a.type = #{type}
        </if >
        <if test="ownerUserId!=null">
            and a.owner_user_id = #{ownerUserId}
        </if >
        <if test="status!=null and status != ''">
            and a.status = #{status}
        </if >
        <if test="checkUserId!=null">
            and a.check_user_id = #{checkUserId}
        </if >
        <if test="businessId!=null">
            and a.business_id = #{businessId}
        </if >
        order by a.id desc
    </select>

    <!--批量插入-->
    <insert id="saveDeclarationDetail"  useGeneratedKeys="true" keyProperty="id">
        insert into declaration
        (<include refid="Declaration_Column_List" />)
        values
        <foreach collection="declarationDetailEntityList" item="item" index="i" separator=",">
             (
             #{item.id,jdbcType=INTEGER},
             #{item.type,jdbcType=VARCHAR},
             #{item.detail,jdbcType=VARCHAR},
             #{item.ownerUserId,jdbcType=INTEGER},
             #{item.status,jdbcType=VARCHAR},
             #{item.checkUserId,jdbcType=INTEGER},
             #{item.createTime,jdbcType=TIMESTAMP},
             #{item.businessId,jdbcType=INTEGER}
             )
        </foreach>
    </insert>

    <!--删除-->
    <delete id="deleteDeclarationDetail">
        DELETE
        FROM
        declaration
        <where>
            id in (
            <foreach collection="ids" item="item" index="i" separator=",">
                #{item}
            </foreach>
            )
        </where>
    </delete>


    <update id="updateDeclaration">
        update declaration
        set  status = #{status},check_user_id=#{userId}
        <where>
            id in (
            <foreach collection="ids" item="item" index="i" separator=",">
                #{item}
            </foreach>
            )
        </where>
    </update>

</mapper>