<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.iris.sugondata.mybaties.mapper.db2.FileTableMapper" >

    <!--结果集-->
    <resultMap id="BaseResultMap" type="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.FileDetailEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="table_name" property="tableName" jdbcType="VARCHAR" />
        <result column="file_template_id" property="fileTemplateId" jdbcType="BIGINT" />
        <result column="case_id" property="caseId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
    </resultMap>

    <!--基础字段-->
    <sql id="Base_Column_List" >
        id,table_name,file_template_id,case_id,user_id,title
    </sql>



    <select id="selectTableName" parameterType="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.FileTableEntity" resultType="java.lang.String"  >
        SELECT
           table_name
        FROM
        file_table
        where
        1=1
        <if test="fileTemplateId!=null">
            and file_template_id =  #{fileTemplateId}
        </if>
        <if test="caseId!=null and caseId != ''">
            and case_id =  #{caseId}
        </if >
        <if test="userId!=null">
            and user_id = #{userId}
        </if >
    </select>

    <select id="findFileTableList" resultType="java.util.List">
        SELECT
        (<include refid="Base_Column_List" />)
        FROM
        file_table
        where
        1=1
        <if test="fileTemplateId!=null">
            and file_template_id =  #{fileTemplateId}
        </if>
        <if test="caseId!=null and caseId != ''">
            and case_id =  #{caseId}
        </if >
        <if test="userId!=null">
            and user_id = #{userId}
        </if >
    </select>



    <!--单个插入-->
    <insert id="saveFileTable" parameterType="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.FileTableEntity" useGeneratedKeys="true" keyProperty="id">
        insert into file_table
        (<include refid="Base_Column_List" />)
        values
             (
             #{id,jdbcType=INTEGER},
             #{tableName,jdbcType=VARCHAR},
             #{fileTemplateId,jdbcType=INTEGER},
             #{caseId,jdbcType=VARCHAR},
             #{userId,jdbcType=INTEGER},
             #{title,jdbcType=VARCHAR}
             )
    </insert>

    <!--删除-->
    <delete id="deleteFileTableById">
            DELETE
            FROM
                file_table
            <where>
                id in (
                <foreach collection="idArr" item="item" index="i" separator=",">
                    #{item}
                </foreach>
                )
            </where>
    </delete>
</mapper>