<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.iris.sugondata.mybaties.mapper.db2.FileAttachmentMapper" >

    <!--结果集-->
    <resultMap id="BaseResultMap" type="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.FileAttachmentEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="file_name" property="fileName" jdbcType="VARCHAR" />
        <result column="file_type" property="fileType" jdbcType="VARCHAR" />
        <result column="file_size" property="fileSize" jdbcType="VARCHAR" />
        <result column="attachment" property="attachment" jdbcType="VARCHAR" />
        <result column="has_decompress" property="hasDecompress" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="has_import" property="hasImport" jdbcType="TINYINT" />
        <result column="case_id" property="caseId" jdbcType="BIGINT" />
        <result column="template_group_id" property="templateGroupId" jdbcType="BIGINT" />
        <result column="template_group_name" property="templateGroupName" jdbcType="VARCHAR" />
    </resultMap>

    <!--基础字段-->
    <sql id="Base_Column_List" >
        id, file_name,file_type,file_size,attachment,has_decompress,create_time,user_id,has_import,case_id,template_group_id,template_group_name
    </sql>

    <!--表查询-->
    <select id="selectFileAttachmentList" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM
        file_attachment
        where
        1=1
        <if test="id!=null">
            and id = #{id}
        </if >
        <if test="fileName!=null and fileName != ''">
            and file_name = #{fileName}
        </if >
        <if test="fileType!=null and fileType != ''">
            and file_type = #{fileType}
        </if >
        <if test="hasDecompress!=null">
            and has_decompress = #{hasDecompress}
        </if >
        <if test="hasImport!=null">
            and has_import = #{hasImport}
        </if >
        <if test="caseId!=null">
            and case_id = #{caseId}
        </if >
        <if test="userId!=null">
            and user_id = #{userId}
        </if >
    </select>

    <!--表查询-->
    <select id="getFileAttachmentIds" resultType="java.lang.String">
        <if test="caseId!=null">
        SELECT
         id
        FROM
        file_attachment
        where
        1=1
        and case_id = #{caseId}
        </if >
    </select>

    <!--批量插入-->
    <insert id="batchFileAttachmentInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into file_attachment
        (<include refid="Base_Column_List" />)
        values
        <foreach collection="fileAttachmentEntityList" item="item" index="i" separator=",">
             (
             #{item.id,jdbcType=BIGINT},
             #{item.fileName,jdbcType=VARCHAR},
             #{item.fileType,jdbcType=VARCHAR},
             #{item.fileSize,jdbcType=VARCHAR},
             #{item.attachment,jdbcType=VARCHAR},
             #{item.hasDecompress,jdbcType=TINYINT},
             #{item.createTime,jdbcType=TIMESTAMP},
             #{item.userId,jdbcType=BIGINT},
             #{item.hasImport,jdbcType=TINYINT},
             #{item.caseId,jdbcType=BIGINT},
             #{item.templateGroupId,jdbcType=BIGINT},
             #{item.templateGroupName,jdbcType=VARCHAR}
             )
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateFileAttachment">
               update file_attachment
                      set file_name = #{fileName},
                          file_type = #{fileType},
                          file_size = #{fileSize},
                          attachment = #{attachment},
                          has_decompress = #{hasDecompress},
                          has_import = #{hasImport},
                          case_id = #{caseId},
                          template_group_id = #{templateGroupId}
               where id = #{id}
    </update>

    <!--更新模板组-->
    <update id="updateFileAttachmentTemplateGroup">
               update file_attachment
                      set
                          template_group_id = #{templateGroupId},
                          template_group_name = #{templateGroupName}
               where id = #{id}
                    <if test="userId!=null">
                        and user_id = #{userId}
                    </if >
    </update>



    <!--批量删除-->
    <delete id="deleteFileAttachmentById" parameterType="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.FileAttachmentEntity">
            DELETE
            FROM
            file_attachment
            <where>
                <if test="id!=null">
                    id = #{id}
                </if >
                <if test="caseId!=null">
                    and case_id = #{caseId}
                </if >
                <if test="userId!=null">
                    and user_id = #{userId}
                </if >
            </where>
    </delete>

</mapper>