<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.iris.sugondata.mybaties.mapper.db2.FileParsingFailedMapper" >

    <!--结果集-->
    <resultMap id="BaseResultMap" type="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.FileParsingFailedEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="file_detail_id" property="fileDetailId" jdbcType="BIGINT" />
        <result column="row_number" property="rowNumber" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="BIGINT" />
        <result column="case_id" property="caseId" jdbcType="BIGINT" />
        <result column="table_name" property="tableName" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="file_template_id" property="fileTemplateId" jdbcType="BIGINT" />
        <result column="file_template_detail_id" property="fileTemplateDetailId" jdbcType="BIGINT" />
        <result column="mark" property="mark" jdbcType="TINYINT" />
        <result column="mppid2errorid" property="mppId2ErrorId" jdbcType="BIGINT" />
        <result column="template_name" property="templateName" jdbcType="VARCHAR" />
        <result column="field_key" property="fieldKey" jdbcType="VARCHAR" />
        <result column="file_attachment_id" property="fileAttachmentId" jdbcType="BIGINT" />
    </resultMap>

    <!--基础字段-->
    <sql id="Base_Column_List" >
        id,file_detail_id,row_number,content,case_id,table_name,user_id,create_time,update_time,file_template_id,file_template_detail_id,mark,mppid2errorid,file_attachment_id
    </sql>

    <select id = "countRecord" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT count(*)  cont
        FROM
            file_parsing_failed
        WHERE
            mppid2errorid = #{mppid2errorid}
    </select>

    <select id = "countRecordByFileDetail" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT count(distinct mppid2errorid)  cont
        FROM
            file_parsing_failed
        WHERE
            file_detail_id = #{fileDetailId}
    </select>

    <select id = "selectMppTableName" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT disconnect table_name  tableName
        FROM
            file_parsing_failed
        WHERE
            mppid2errorid = #{mppid2errorid}
    </select>

    <!--表查询-->
    <select id="selectFileParsingFailedList" parameterType="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.FileParsingFailedEntity" resultMap="BaseResultMap"  >
        SELECT
            <include refid="Base_Column_List" />,
            (select template_name from file_template b where b.id = a.file_template_id) template_name,
            (select field_key from file_template_detail c where c.id = a.file_template_detail_id) field_key
        FROM
        file_parsing_failed a
        where
        1=1
        <if test="id!=null">
            and a.id = #{id}
        </if >
        <if test="fileDetailId!=null">
            and a.file_detail_id = #{fileDetailId}
        </if >
        <if test="userId!=null">
            and a.user_id = #{userId}
        </if >
        <if test="mark!=null">
            and a.mark = #{mark}
        </if >
        <if test="mppId2ErrorId!=null">
            and a.mppid2errorid = #{mppId2ErrorId}
        </if >
        <if test="fileTemplateDetailId!=null">
            and a.file_template_detail_id = #{fileTemplateDetailId}
        </if >
    </select>



    <!--批量插入-->
    <insert id="fileParsingFailedInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into file_parsing_failed
        (<include refid="Base_Column_List" />)
        values
          <foreach collection="fileParsingFailedEntityList" item="item" index="i" separator=",">
             (
             #{item.id,jdbcType=BIGINT},
             #{item.fileDetailId,jdbcType=BIGINT},
             #{item.rowNumber,jdbcType=VARCHAR},
             #{item.content,jdbcType=VARCHAR},
             #{item.caseId,jdbcType=BIGINT},
             #{item.tableName,jdbcType=VARCHAR},
             #{item.userId,jdbcType=BIGINT},
             #{item.createTime,jdbcType=TIMESTAMP},
             #{item.updateTime,jdbcType=TIMESTAMP},
             #{item.fileTemplateId,jdbcType=BIGINT},
             #{item.fileTemplateDetailId,jdbcType=BIGINT},
             #{item.mark,jdbcType=TINYINT},
             #{item.mppId2ErrorId,jdbcType=BIGINT},
             #{item.fileAttachmentId,jdbcType=BIGINT}
             )
          </foreach>
    </insert>

    <!--删除-->
    <delete id="deleteFileParsingFailedByFileDetailId">
            DELETE
            FROM
             file_parsing_failed
            <where>
                file_detail_id in (
                <foreach collection="idArr" item="item" index="i" separator=",">
                    #{item}
                </foreach>
                )
            </where>
    </delete>

    <delete id="deleteFileParsingFailedById">
        DELETE
        FROM
        file_parsing_failed
        <where>
            id in (
            <foreach collection="idArr" item="item" index="i" separator=",">
                #{item}
            </foreach>
            )
        </where>
    </delete>

    <delete id="deleteFileParsingFailedByMppid2errorid">
        DELETE
        FROM
        file_parsing_failed
        <where>
            mppid2errorid = #{mppid2errorid}
        </where>
    </delete>

    <delete id="deleteFileParsingFailedByMppid2erroridAndFileField">
        DELETE
        FROM
        file_parsing_failed
        <where>
            <if test="mppid2errorid!=null">
                mppid2errorid = #{mppid2errorid}
            </if>
            <if test="fileTemplateDetailId!=null">
                and file_template_detail_id = #{fileTemplateDetailId}
            </if>
        </where>
    </delete>

    <!--批量删除-->
    <delete id="deleteFileParsingFailedByMppid2erroridBatch">
        DELETE
        FROM
        file_parsing_failed
        <where>
            mppid2errorid in (
            <foreach collection="idArr" item="item" index="i" separator=",">
                #{item}
            </foreach>
            )
        </where>
    </delete>

    <delete id="deleteFileParsingFailedByFileAttachmentId">
        DELETE
        FROM
        file_parsing_failed
        <where>
            file_attachment_id = #{fileAttachmentId}
        </where>
    </delete>
</mapper>