<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.iris.sugondata.mybaties.mapper.db2.FileDataGroupDetailMapper" >

    <!--结果集-->
    <resultMap id="UserResultMap" type="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.UserEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="username" property="userName" jdbcType="VARCHAR" />
        <result column="id_card" property="idCard" jdbcType="VARCHAR" />
        <result column="policeno" property="policeNo" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="DataGroupDetailResultMap" type="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.FileDataGroupDetailEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="file_data_group_id" property="fileDataGroupId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    </resultMap>

    <!--基础字段-->
    <sql id="User_Base_Column_List" >
        id,username,id_card,policeno
    </sql>
    <sql id="DataGroupDetail_Base_Column_List" >
        id,user_id,file_data_group_id,create_time,create_user_id
    </sql>

    <!--表查询-->
    <select id="findFileDataGroupUsersByGroupId"  resultMap="UserResultMap"  >
        SELECT
            <include refid="User_Base_Column_List" />
        FROM
        sys_user a
        where
          exists
         (select * from file_data_group_detail b
            where
               a.id = b.user_id
               and b.file_data_group_id=#{groupId}
        )
    </select>

    <select id="findUsersNotInDataGroupsByUserId"  resultMap="UserResultMap"  >
        SELECT
        <include refid="User_Base_Column_List" />
        FROM
        sys_user a
        where
        not exists
        (select * from file_data_group_detail b
        where
        a.id = b.user_id
        <!--and b.file_data_group_id=#{groupId}-->
        )
    </select>



    <!--批量插入-->
    <insert id="saveUserFromDataGroupDetail"  useGeneratedKeys="true" keyProperty="id">
        insert into file_data_group_detail
        (<include refid="DataGroupDetail_Base_Column_List" />)
        values
        <foreach collection="fileDataGroupDetailEntityList" item="item" index="i" separator=",">
             (
             #{item.id,jdbcType=BIGINT},
             #{item.userId,jdbcType=BIGINT},
             #{item.fileDataGroupId,jdbcType=BIGINT},
             #{item.createTime,jdbcType=TIMESTAMP},
             #{item.createUserId,jdbcType=BIGINT}
             )
        </foreach>
    </insert>

    <!--删除-->
    <delete id="deleteFileDataGroupDetail">
            DELETE
            FROM
        file_data_group_detail
            <where>
                     user_id = #{userId}
                and  file_data_group_id = #{fileDataGroupId}
            </where>
    </delete>
</mapper>