<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.iris.sugondata.mybaties.mapper.db2.FileParsingFailedMapper" >

    <!--结果集-->
    <resultMap id="BaseResultMap" type="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.FileParsingFailedEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="file_detail_id" property="fileDetailId" jdbcType="BIGINT" />
        <result column="row_number" property="rowNumber" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="file_template_id" property="fileTemplateId" jdbcType="BIGINT" />
        <result column="file_template_detail_id" property="fileTemplateDetailId" jdbcType="BIGINT" />
    </resultMap>

    <!--基础字段-->
    <sql id="Base_Column_List" >
        id,file_detail_id,row_number,content,user_id,create_time,update_time,file_template_id,file_template_detail_id
    </sql>

    <!--表查询-->
    <select id="selectFileParsingFailedList" parameterType="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.FileParsingFailedEntity" resultMap="BaseResultMap"  >
        SELECT
            <include refid="Base_Column_List" />
        FROM
        file_parsing_failed
        where
        1=1
        <if test="id!=null">
            and id = #{id}
        </if >
        <if test="fileDetailId!=null">
            and file_detail_id = #{fileDetailId}
        </if >
        <if test="userId!=null">
            and user_id = #{userId}
        </if >
    </select>



    <!--批量插入-->
    <insert id="fileParsingFailedInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into file_parsing_failed
        (<include refid="Base_Column_List" />)
        values
          <foreach collection="fileParsingFailedEntityList" item="item" index="i" separator=",">
             (
             #{item.id,jdbcType=INTEGER},
             #{item.fileDetailId,jdbcType=INTEGER},
             #{item.rowNumber,jdbcType=VARCHAR},
             #{item.content,jdbcType=VARCHAR},
             #{item.userId,jdbcType=INTEGER},
             #{item.createTime,jdbcType=TIMESTAMP},
             #{item.updateTime,jdbcType=TIMESTAMP},
             #{item.fileTemplateId,jdbcType=INTEGER},
             #{item.fileTemplateDetailId,jdbcType=INTEGER}
             )
          </foreach>
    </insert>

    <!--删除-->
    <delete id="deleteFileParsingFailedByFileDetailId">
            DELETE
            FROM
             file_parsing_failed
            <where>
                file_detail_id in (
                <foreach collection="idArr" item="item" index="i" separator=",">
                    #{item}
                </foreach>
                )
            </where>
    </delete>

    <delete id="deleteFileParsingFailedById">
        DELETE
        FROM
        file_parsing_failed
        <where>
            id in (
            <foreach collection="idArr" item="item" index="i" separator=",">
                #{item}
            </foreach>
            )
        </where>
    </delete>
</mapper>