<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.iris.sugondata.mybaties.mapper.db2.FileTableMapper" >

    <!--结果集-->
    <resultMap id="BaseResultMap" type="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.FileTableEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="table_name" property="tableName" jdbcType="VARCHAR" />
        <result column="file_template_id" property="fileTemplateId" jdbcType="BIGINT" />
        <result column="case_id" property="caseId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="label" property="label" jdbcType="VARCHAR" />
        <result column="neo4j_init_flag" property="neo4jInitFlag" jdbcType="VARCHAR" />
    </resultMap>

    <!--基础字段-->
    <sql id="Base_Column_List" >
        id,table_name,file_template_id,case_id,user_id,title,neo4j_init_flag
    </sql>



    <select id="selectTableName" parameterType="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.FileTableEntity" resultType="java.lang.String"  >
        SELECT
           table_name
        FROM
        file_table
        where
        1=1
        <if test="id!=null">
            and id = #{id}
        </if >
        <if test="fileTemplateId!=null">
            and file_template_id =  #{fileTemplateId}
        </if>
        <if test="caseId!=null">
            and case_id =  #{caseId}
        </if >
        <if test="userId!=null">
            and user_id = #{userId}
        </if >
    </select>

    <select id="findFileTableList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        file_table
        where
        1=1
        <if test="fileTemplateId!=null">
            and file_template_id =  #{fileTemplateId}
        </if>
        <if test="caseId!=null">
            and case_id =  #{caseId}
        </if >
        <if test="userId!=null">
            and user_id = #{userId}
        </if >
    </select>

    <select id="findFileTableByRelationAttributeId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        file_table
        where
        id =
        (select file_table_id from neo4j_node_attribute where  id = #{id})
    </select>

    <select id="findAllFileTablesByUserId" resultMap="BaseResultMap">
        select c.* from
                (file_data_group_detail a inner join file_data_group_table b on a.file_data_group_id = b.data_group_id)
                inner join  file_table c on b.table_id = c.id
                and a.user_id = #{userId}
         union
         select * from file_table d where d.user_id = #{userId}
    </select>

    <select id="findFileTablesWithCaseNameAndTemplateNameByUserId" resultMap="BaseResultMap">
        select
        a.id,
        a.file_template_id,
        a.neo4j_init_flag,
        (select case_name from file_case c where c.id=a.case_id) caseName,
        (select template_name from iris.file_template b where b.id= a.file_template_id) templateName,
        (select label from neo4j_node_info d where d.file_table_id = a.id) label,
        table_name
        from file_table a
        where a.user_id = #{userId}
    </select>

    <!--更新-->
    <update id="updateFileTable">
               update file_table
               <set>
                      <if test="neo4jInitFlag!=null and neo4jInitFlag != ''">
                          neo4j_init_flag = #{neo4jInitFlag},
                      </if>
               </set>
               where id = #{id}
    </update>

    <!--单个插入-->
    <insert id="saveFileTable" parameterType="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.FileTableEntity" useGeneratedKeys="true" keyProperty="id">
        insert into file_table
        (<include refid="Base_Column_List" />)
        values
             (
             #{id,jdbcType=BIGINT},
             #{tableName,jdbcType=VARCHAR},
             #{fileTemplateId,jdbcType=BIGINT},
             #{caseId,jdbcType=BIGINT},
             #{userId,jdbcType=BIGINT},
             #{title,jdbcType=VARCHAR},
             #{neo4jInitFlag,jdbcType=VARCHAR}
             )
    </insert>

    <!--删除-->
    <delete id="deleteFileTableById">
            DELETE
            FROM
                file_table
            <where>
                id in (
                <foreach collection="idArr" item="item" index="i" separator=",">
                    #{item}
                </foreach>
                )
            </where>
    </delete>
</mapper>