<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sugon.iris.sugondata.mybaties.mapper.db2.Neo4jRelationMapper">
  <resultMap id="BaseResultMap" type="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.Neo4jRelationEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="relationship" jdbcType="VARCHAR" property="relationship" />
    <result column="source_attribute_id" jdbcType="BIGINT" property="sourceAttributeId" />
    <result column="target_attribute_id" jdbcType="BIGINT" property="targetAttributeId" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="shape" jdbcType="VARCHAR" property="shape" />
    <result column="program" jdbcType="VARCHAR" property="program" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="differentiate" jdbcType="VARCHAR" property="differentiate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, relationship, source_attribute_id, target_attribute_id, color, shape,program,user_id,differentiate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from neo4j_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from neo4j_relation
    where user_id = #{user_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from neo4j_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.Neo4jRelationEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into neo4j_relation (relationship, source_attribute_id, target_attribute_id, 
      color, shape,program,user_id,differentiate)
    values (#{relationship,jdbcType=VARCHAR}, #{sourceAttributeId,jdbcType=BIGINT}, #{targetAttributeId,jdbcType=BIGINT}, 
      #{color,jdbcType=VARCHAR}, #{shape,jdbcType=VARCHAR}, #{program,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{differentiate,jdbcType=VARCHAR})
  </insert>
</mapper>