<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.iris.sugondata.mybaties.mapper.db2.RinseBusinessIdCardNoMapper" >

    <!--结果集-->
    <resultMap id="ResultMap" type="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.RinseBusinessIdCardNoEntity" >
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="file_template_id" property="fileTemplateId" jdbcType="BIGINT" />
        <result column="file_template_detail_id" property="fileTemplateDetailId" jdbcType="BIGINT" />
        <result column="field_name" property="fieldName" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="Base_Column_List" >
        id,file_template_id,file_template_detail_id
    </sql>

    <select id="getRinseBusinessIdCardNoListByTemplateId"  resultMap="ResultMap" >
        select
        <include refid="Base_Column_List" />
        from rinse_business_idCardNo
        where
        file_template_id = #{fileTemplateId,jdbcType=BIGINT}
    </select>

    <select id="getAllRinseBusinessIdCardNoList"  resultMap="ResultMap" >
        select
        a.id,a.file_template_id,a.file_template_detail_id,b.field_name
        from rinse_business_IdCardNo a left join file_template_detail b on a.file_template_detail_id = b.id
    </select>

    <!--单个插入-->
    <insert id="saveRinseBusinessIdCardNo" parameterType="com.sugon.iris.sugondomain.entities.mybatiesEntity.db2.RinseBusinessIdCardNoEntity" useGeneratedKeys="true" keyProperty="id">
        insert into rinse_business_idCardNo
        (<include refid="Base_Column_List" />)
        values
        (
        #{id,jdbcType=BIGINT},
        #{fileTemplateId,jdbcType=BIGINT},
        #{fileTemplateDetailId,jdbcType=BIGINT}
        )
    </insert>

    <delete id="deleteByPrimaryKey">
        delete from rinse_business_idCardNo
        where id = #{id,jdbcType=BIGINT}
    </delete>
</mapper>