<style>
    .hide{
        display:none;
    }
    .ruleModal{
        height:100%;
        /*position:fixed;*/
        /*left:220px;*/
        /*top:50px;*/
        /*right:0px;*/
        /*bottom:50px;*/
        /*z-index:10;*/
        /*background-color:white;*/
        /*overflow: auto;*/
        /*text-align: center;*/
    }
    iframe {
        border:none;
        /*position: absolute;*/
        /*transform: scale(0.9);*/
        /*left: 80px;*/
        /*top: -10px;*/
    }
</style>
<div ng-controller="xxljob_zxqglController">
    <div class="ruleModal1 hide">
        <!-- <iframe style="width:100%;height:100%" loading="lazy" src="http://192.168.102.141:8070/xxl-job-admin/login?userName=admin&password=123456"></iframe>-->
         <iframe style="width:100%;height:100%" loading="lazy" src="http://50.73.68.61:8666/xxl-job-admin/login?userName=admin&password=123456"></iframe>
    </div>
    <div  style="height:787px;">
        <div class="ruleModal">
            <!--<iframe style="width:100%;height:100%" loading="lazy" src="http://192.168.102.141:8070/xxl-job-admin/jobgroup"></iframe>-->
            <iframe style="width:100%;height:100%" loading="lazy" src="http://50.73.68.61:8666/xxl-job-admin/jobgroup"></iframe>
        </div>
    </div>

</div>
<script language="JavaScript" type="text/javascript">
   //window.open("http://192.168.217.90:8080/xxl-job-admin/toLogin","newwindow");
</script>